/*** Navbar ***/
.dropdown-submenu {
	position: relative;
	border: none;
	margin-top: 8px;
	margin-bottom: 8px;
	/* transition: .5s; */
}

.dropdown-submenu .dropdown-menu {
	top: -20px;
	left: 60%;
	margin-top: -1px;
	border: none;
	transition: 0.5s;
}

.navbar-nav li:hover > ul.dropdown-menu {
	display: block;
	border: none;
	transition: 0.5s;
}

.p-card-post {
	padding: 2.3rem !important;
}

.divider-card {
	border-bottom: 1.5px solid #e0e0e0;
	margin: 1.5rem 0;
}

/* Lightbox */
/* BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--yellow: #fffbbc;
	--lightbox: #242424;
}

.notification {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 15px;
	margin: 0;
	text-align: center;
	z-index: 1;
	background: var(--yellow);
}

@media (max-width: 700px) {
	.notification {
		display: none;
	}
}

/* IMAGE GRID STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-grid figure {
	margin-bottom: 0;
}

.image-grid img {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
	transition: box-shadow 0.2s;
}

.image-grid a:hover img {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

/* LIGHTBOX STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.lightbox-modal .modal-content {
	background: var(--lightbox);
}

.lightbox-modal .btn-close {
	position: absolute;
	top: 20px;
	right: 18px;
	font-size: 1.2rem;
	z-index: 10;
}

.lightbox-modal .modal-body {
	display: flex;
	align-items: center;
	padding: 0;
	text-align: center;
}

.lightbox-modal img {
	width: auto;
	max-height: 100vh;
	max-width: 100%;
}

.lightbox-modal .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 36, 36, 0.75);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
	width: auto;
}

.lightbox-modal .carousel-control-prev {
	left: 10px;
}

.lightbox-modal .carousel-control-next {
	right: 10px;
}

.owl-carousel .owl-item img {
	display: inline-block !important;
	width: auto;
}
.author-img img {
	width: 100px !important;
	height: auto;
	border-radius: 100%;
}
.font-medium {
	font-weight: 500;
}
.border-radius-new {
	border-radius: 20px;
}
img.comms {
	width: 40px !important;
	height: auto;
}

.videowrapper {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*Card Cabang*/
@media (min-width: 767px) {
	.timeline-line {
		position: relative;
	}
	.timeline-line:after {
		content: "";
		position: absolute;
		display: flex;
		align-items: center;
		background-color: #285f43;
		height: 100%;
		width: 8px;
		top: 0;
		bottom: 0;
		right: 50%;
		left: 50%;
		border-radius: 50px;
	}
}
.timeline-card {
	background-color: #edf7f2;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border: 0;
	color: #000;
}
.card-cabang {
	border: unset !important;
	border-bottom: 20px solid #333;
}
.icon-container {
	height: 30px;
	width: 30px;
}
.icon-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.warp-collapse div:nth-child(1) content,
.warp-collapse div:nth-child(2) content {
	border: unset !important;
}

.statistic-section {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #00ff37; /* fallback for old browsers */
	background: linear-gradient(159.17deg, #006141 -9.41%, #04b278 90.45%);
}

.count-title {
	font-size: 50px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.stats-text {
	font-size: 15px;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.stats-line-black {
	margin: 12px auto 0;
	width: 55px;
	height: 2px;
	background-color: #fff;
}
.stats-icon {
	font-size: 35px;
	margin: 0 auto;
	float: none;
	display: table;
	color: #fff;
}

@media (max-width: 992px) {
	.counter {
		margin-bottom: 40px;
	}
}

.image-header {
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}