/********** Template CSS **********/
:root {
	--primary: #006141;
	--secondary: #999999;
	--light: #f2f8fe;
	--dark: #111111;
}

.back-to-top {
	position: fixed;
	display: none;
	right: 30px;
	bottom: 30px;
	z-index: 99;
}

.img-fluid-konsep {
	max-width: 90%;
	height: auto;
}

.table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.table th,
.table td {
	padding: 12px 15px;
}

.table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

/* * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Caption text */
.text-slide {
	color: #111;
	font-size: 15px;
	padding: 0px 12px;
	/* position: absolute; */
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot-slider {
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active-slide {
	background-color: #717171;
}

/* Fading animation */
.fade-slide {
	animation-name: fade;
	animation-duration: 1.5s;
}

.bg-green {
	/* background-color: #006141 !important */
	background: linear-gradient(159.17deg, #006141 -9.41%, #04b278 90.45%);
}

@keyframes fade-slide {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text-slide {
		font-size: 11px;
	}
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	font-weight: 500 !important;
}

/*** Spinner ***/
#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

.img-fluid-logo {
	max-width: 100px;
	height: auto;
}

/*** Button ***/
.btn {
	font-weight: 500;
	transition: 0.5s;
}

.btn.btn-primary {
	color: #ffffff;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
	top: -100px;
	transition: 0.5s;
}

.navbar .navbar-brand {
	height: 75px;
}

.navbar .navbar-nav .nav-link {
	margin-right: 30px;
	padding: 25px 0;
	/* color: var(--dark); */
	color: white;
	font-weight: 500;
	outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
	/* color: var(--primary); */
	color: #bbb;
}

.navbar .dropdown-toggle::after {
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	vertical-align: middle;
	margin-left: 8px;
}

/* @media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
} */

/* @media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: inherit;
        transition: .5s;
        opacity: 1;
        display: block;
    }
} */

.navbar .btn:hover {
	color: #ffffff !important;
	background: var(--primary) !important;
}

/*** Header ***/
.hero-header .breadcrumb-item + .breadcrumb-item::before {
	color: var(--secondary);
}

/*** Service ***/
.service-item {
	position: relative;
	overflow: hidden;
}

.service-item::after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: -80px;
	right: -80px;
	border: 80px solid;
	transform: rotate(45deg);
	opacity: 1;
	transition: 0.5s;
}

.service-item.bg-white::after {
	border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
	border-color: transparent transparent #ffffff transparent;
}

.bg-img {
	background-image: url(../upload/images/bg-stifin.jpg);
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.bg-img {
		/* width: 400px; */
		/* height: 200px; */
		/* border: 5px solid #E18728; */
		margin-bottom: 0.5em;
		background-image: url(../upload/images/bg-stifin.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.service-item:hover::after {
	opacity: 0;
}

.color-white {
	color: #ffffff !important;
}

.text-green {
	color: #006141 !important;
}

.box-part {
	background: #fff;
	border-radius: 0;
	padding: 60px 10px;
	margin: 30px 0px;
	min-height: 430px;
}
.text-keunggulan {
	margin: 20px 5px;
}

.fa-col {
	color: var(--primary);
}

#myDIV {
	/* width: 300px;
    height: 200px;
    background: red; */
	/* margin-bottom: .5em; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation: mymove infinite;
	animation-duration: 15s;
	animation-delay: 10s;
	animation-fill-mode: backwards;
}

@keyframes mymove {
	0% {
		background-image: url(../upload/images/bg-stifin.jpg);
	}
	50% {
		background-image: url(../upload/images/bg-stifin2.jpg);
	}
	100% {
		background-image: url(../upload/images/bg-stifin.jpg);
	}
}

.bg-light {
	max-width: 100% !important;
}

.h-100 {
	color: #222222 !important;
}

.whats-app {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 30px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 4px 3px #999;
	left: 30px;
	z-index: 100;
}

.my-float {
	margin-top: 10px;
}

.article-cs p,
li {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	color: #222222;
	font-size: 17px;
	/* line-height: 26px; */
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
}

.text-green-cus {
	color: var(--primary);
	/* font-size: 36px; */
	letter-spacing: -1px;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
}

/*** Roadmap ***/
.roadmap-carousel {
	position: relative;
}

.fn-landing {
	height: auto;
	color: rgb(255, 255, 255);
	text-decoration: none;
	white-space: normal;
	/* width: 770px; */
	min-height: 0px;
	min-width: 0px;
	max-height: none;
	max-width: none;
	text-align: left;
	line-height: 64px;
	letter-spacing: -1px;
	font-weight: 700;
	font-size: 60px;
	transform-origin: 50% 50%;
	opacity: 1;
	transform: translate(0px, 0px);
	visibility: visible;
}

.roadmap-carousel::before {
	position: absolute;
	content: "";
	height: 0;
	width: 100%;
	top: 20px;
	left: 0;
	border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 50%;
	margin-left: -15px;
	background: #ffffff;
	border: 2px solid var(--primary);
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
	display: block;
	width: 18px;
	height: 18px;
	background: var(--primary);
}

.roadmap-carousel .roadmap-item {
	position: relative;
	padding-top: 150px;
	text-align: center;
}

.roadmap-carousel .roadmap-item::before {
	position: absolute;
	content: "";
	width: 0;
	height: 115px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	top: 111px;
	left: 50%;
	margin-left: -7px;
	transform: rotate(45deg);
	background: var(--primary);
}

.roadmap-carousel .owl-nav {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
	margin: 0 12px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-size: 22px;
	color: var(--light);
	background: var(--primary);
	transition: 0.5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
	color: var(--primary);
	background: var(--dark);
}

/*** FAQs ***/
.accordion .accordion-item {
	border: none;
	margin-bottom: 15px;
}

.accordion .accordion-button {
	background: var(--light);
	border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
	color: #ffffff;
	background: var(--primary);
	box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
	padding: 15px 0 0 0;
}

/*** Footer ***/
.footer .btn.btn-link {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	color: var(--secondary);
	font-weight: normal;
	text-transform: capitalize;
	transition: 0.3s;
}

.footer .btn.btn-link::before {
	position: relative;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: var(--secondary);
	margin-right: 10px;
}

.footer .btn.btn-link:hover {
	color: var(--primary);
	letter-spacing: 1px;
	box-shadow: none;
}

.footer .btn.btn-square {
	color: white;
	border: 1px solid white;
}

.footer .btn.btn-square:hover {
	color: #ffffff;
	background: var(--primary);
}

.footer .copyright {
	padding: 25px 0;
	border-top: 1px solid rgba(17, 17, 17, 0.1);
}

.footer .copyright a {
	color: var(--primary);
}

.footer .copyright a:hover {
	color: var(--dark);
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/****** Style Star Rating Widget *****/

.rating {
	border: none;
	float: left;
}

.rating > input {
	display: none;
}
.rating > label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before {
	content: "\f089";
	position: absolute;
}

.rating > label {
	color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label /* show gold star when clicked */
/* .rating:not(:checked) > label:hover, hover current star */
/* .rating:not(:checked) > label:hover ~ label  */ {
	color: #ffd700;
} /* hover previous stars in list */
