.td-midle {
	vertical-align: middle !important;
}

.mr-md {
	margin-right: 3px !important;
}

/****** Style Star Rating Widget *****/

.rating {
	border: none;
	float: left;
}

.rating > input {
	display: none;
}
.rating > label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before {
	content: "\f089";
	position: absolute;
}

.rating > label {
	color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label /* show gold star when clicked */
/* .rating:not(:checked) > label:hover, hover current star */
/* .rating:not(:checked) > label:hover ~ label { */ {
	color: #ffd700;
} /* hover previous stars in list */

/* .rating > input:checked + label:hover, 
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
	color: #ffed85;
} */
